# <span style='color: #FF4040;display: flex; justify-content: center'><b>SQL COMMANDS | DDL, DQL, DML, DCL AND TCL COMMANDS</b></span>

<div align='justify'>
    <p><b>SQL commands</b> are very used to interact with the database. These commands allow users to perform various actions on a database. This article will teach us about <b>SQL commands</b> or <b>SQL sublanguage commands</b> like <b>DDL</b>, <b>DQL</b>, <b>DML</b>, <b>DCL</b>, and <b>TCL</b>.</p>
    <p>All important SQL commands with their syntax and examples are covered in this article.</p>
    <p>But before heading to the SQL command section, let’s briefly introduce SQL.</p>
</div>

## <span style='color: #EE7C6B'><b>Table Of Content</b></span>

+ <a href='https://www.geeksforgeeks.org/sql-ddl-dql-dml-dcl-tcl-commands/?ref=lbp#short-overview-of-sql'><b style='color: white'><u>Short Overview of SQL</u></b></a>
+ <a href='https://www.geeksforgeeks.org/sql-ddl-dql-dml-dcl-tcl-commands/?ref=lbp#ddl-data-definition-language'><b style='color: white'><u>DDL (Data Definition Language)</u></b></a>
+ <a href='https://www.geeksforgeeks.org/sql-ddl-dql-dml-dcl-tcl-commands/?ref=lbp#dql-data-query-language'><b style='color: white'><u>DQL (Data Query Language)</u></b></a>
+ <a href='https://www.geeksforgeeks.org/sql-ddl-dql-dml-dcl-tcl-commands/?ref=lbp#dmldata-manipulation-language'><b style='color: white'><u>DML (Data Manipulation Language)</u></b></a>
+ <a href='https://www.geeksforgeeks.org/sql-ddl-dql-dml-dcl-tcl-commands/?ref=lbp#dcl-data-control-language'><b style='color: white'><u>DCL (Data Control Language)</u></b></a>
+ <a href='https://www.geeksforgeeks.org/sql-ddl-dql-dml-dcl-tcl-commands/?ref=lbp#tcl-transaction-control-language'><b style='color: white'><u>TCL (Transaction Control Language)</u></b></a>
+ <a href='https://www.geeksforgeeks.org/sql-ddl-dql-dml-dcl-tcl-commands/?ref=lbp#important-sql-commands'><b style='color: white'><u>Important SQL Commands</u></b></a>
+ <a href='https://www.geeksforgeeks.org/sql-ddl-dql-dml-dcl-tcl-commands/?ref=lbp#sql-commands-with-examples'><b style='color: white'><u>SQL Commands with Examples</u></b></a>

## <span style='color: #EE7C6B'><b>Short Overview of SQL</b></span>

<div align='justify'>
    <p><b>Structured Query Language (SQL)</b>, as we all know, is the database language by which we can perform certain operations on the existing database, and we can also use this language to create a database. SQL uses certain commands like CREATE, DROP, INSERT, etc. to carry out the required tasks. </p>
    <p>SQL commands are like instructions to a table. It is used to interact with the database with some operations. It is also used to perform specific tasks, functions, and queries of data. SQL can perform various tasks like creating a table, adding data to tables, dropping the table, modifying the table, set permission for users.</p>
    <p>These SQL commands are mainly categorized into five categories: </p>
</div>

1. <b>DDL</b> – Data Definition Language
2. <b>DQL</b> – Data Query Language
3. <b>DML</b> – Data Manipulation Language
4. <b>DCL</b> – Data Control Language
5. <b>TCL</b> – Transaction Control Language

<div align='justify'>
    <p>Now, we will see all of these in detail.</p>
</div>

<span style='display: flex; justify-content: center; height: 300px'>![](https://media.geeksforgeeks.org/wp-content/uploads/20210920153429/new.png)</span>

## <span style='color: #EE7C6B'><b>DDL (Data Definition Language)</b></span>

<div align='justify'>
    <p><a href='https://www.geeksforgeeks.org/features-of-structured-query-language-sql/'><b><u>DDL</u></b></a> or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database.</p>
    <p>DDL is a set of SQL commands used to create, modify, and delete database structures but not data. These commands are normally not used by a general user, who should be accessing the database via an application.</p>
    <p><b style='color: #EC870E'>List of DDL Commands</b></p>
    <p>Some DDL commands and their syntax are:</p>
<table>
    <tr style='background-color: #EE7C6B; color: black'>
        <th style="text-align: center;"><span>Command</span></th>
        <th style="text-align: center;"><span>Description</span></th>
        <th style="text-align: center;"><span>Syntax</span></th>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><a href="https://www.geeksforgeeks.org/sql-create" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>CREATE</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Create database or its objects (table, index, function, views, store procedure, and triggers)</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>CREATE TABLE table_name (column1 data_type, column2 data_type, ...);</span></code></td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #EE7C6B; color: black"><a href="https://www.geeksforgeeks.org/sql-drop-truncate" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>DROP</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Delete objects from the database</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>DROP TABLE table_name;</span></code></td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #EE7C6B; color: black"><a href="https://www.geeksforgeeks.org/sql-alter-add-drop-modify" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>ALTER</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Alter the structure of the database</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>ALTER TABLE table_name ADD COLUMN column_name data_type;</span></code></td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #EE7C6B; color: black"><a href="https://www.geeksforgeeks.org/sql-drop-truncate" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>TRUNCATE</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Remove all records from a table, including all spaces allocated for the records are removed</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>TRUNCATE TABLE table_name;</span></code></td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #EE7C6B; color: black"><a href="https://www.geeksforgeeks.org/sql-comments" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>COMMENT</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Add comments to the data dictionary</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>COMMENT 'comment_text' ON TABLE table_name;</span></code></td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #EE7C6B; color: black"><a href="https://www.geeksforgeeks.org/sql-alter-rename" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>RENAME</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Rename an object existing in the database</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>RENAME TABLE old_table_name TO new_table_name;</span></code></td>
    </tr>
<table>
</div>

## <span style='color: #EE7C6B'><b>DQL (Data Query Language)</b></span>

<div align='justify'>
    <p><b>DQL</b> statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement.</p>
    <p>This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.</p>
    <p><b style='color: #EC870E'>DQL Command</b></p>
    <p>There is only one DQL command in SQL i.e.</p>
<table style='display: flex; justify-content: center'>
    <tr style='background-color: #EE7C6B; color: black'>
        <th style="text-align: center;"><span>Command</span></th>
        <th style="text-align: center;"><span>Description</span></th>
        <th style="text-align: center;"><span>Syntax</span></th>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><a href="https://www.geeksforgeeks.org/sql-select-query/" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>SELECT</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>It is used to retrieve data from the database.</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>SELECT column1, column2, ...FROM table_name<br>WHERE condition;</span></code></td>
    </tr>
</table>
</div>

## <span style='color: #EE7C6B'><b>DML(Data Manipulation Language)</b></span>

<div align='justify'>
    <p>The SQL commands that deal with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements.</p>
    <p>It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.</p>
    <p><b style='color: #EC870E'>List of DML commands</b></p>
    <p>Some DML commands and their syntax are:</p>
<table>
    <tr style='background-color: #EE7C6B; color: black'>
        <th style="text-align: center;"><span>Command</span></th>
        <th style="text-align: center;"><span>Description</span></th>
        <th style="text-align: center;"><span>Syntax</span></th>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><a href="https://www.geeksforgeeks.org/sql-insert-statement/?_gl=1*10nxbhd*_ga*VGNzN3NoclQ2ZWtRUk5vcFh4a0pRekN4OEJqMkxSTmd6MGxNY2FTZGNUbDF5a0NyTE00OWI2NTMxaFZUdk01YQ..*_ga_E752F18V9F*MTcyMDIyMTkwNi4yOC4xLjE3MjAyMjE5MDcuMC4wLjA." rel="noreferrer noopener" target="_blank"><span><b style='color: black'>INSERT</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Insert data into a table.</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>INSERT INTO table_name (column1, column2, ...) VALUES (value1, value2, ...);</span></code></td>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><a href="https://www.geeksforgeeks.org/sql-update-statement/" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>UPDATE</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Update existing data within a table.</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>UPDATE table_name SET column1 = value1, column2 = value2 WHERE condition;</span></code></td>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><a href="https://www.geeksforgeeks.org/sql-delete-statement/" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>DELETE</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Delete records from a database table.</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>DELETE FROM table_name WHERE condition;</span></code></td>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><a href="https://www.geeksforgeeks.org/sql-lock-table/" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>LOCK</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Table control concurrency.</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>LOCK TABLE table_name IN lock_mode;</span></code></td>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><span><b style='color: black'>CALL</b></span></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Call a PL/SQL or JAVA subprogram.</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>CALL procedure_name(arguments);</span></code></td>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><span><b style='color: black'>EXPLAIN PLAN</b></span></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Describe the access path to data.</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>EXPLAIN PLAN FOR SELECT * FROM table_name;</span></code></td>
    </tr>
</table>
</div>

## <span style='color: #EE7C6B'><b>DCL (Data Control Language)</b></span>

<div align='justify'>
    <p>DCL includes commands such as GRANT and REVOKE which mainly deal with the rights, permissions, and other controls of the database system.</p>
    <p><b style='color: #EC870E'>List of  DCL commands:</b></p>
    <p>Two important DCL commands and their syntax are:</p>
<table>
    <tr style='background-color: #EE7C6B; color: black'>
        <th style="text-align: center;"><span>Command</span></th>
        <th style="text-align: center;"><span>Description</span></th>
        <th style="text-align: center;"><span>Syntax</span></th>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><a href="https://www.geeksforgeeks.org/mysql-grant-revoke-privileges/" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>GRANT</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Assigns new privileges to a user account, allowing access to specific database objects, actions, or functions.</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>GRANT privilege_type [(column_list)] ON [object_type] object_name TO user [WITH GRANT OPTION];</span></code></td>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><a href="https://www.geeksforgeeks.org/difference-between-grant-and-revoke/" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>REVOKE</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Removes previously granted privileges from a user account, taking away their access to certain database objects or actions.</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>REVOKE [GRANT OPTION FOR] privilege_type [(column_list)] ON [object_type] object_name FROM user [CASCADE];</span></code></td>
    </tr>
</table>
</div>

## <span style='color: #EE7C6B'><b>TCL (Transaction Control Language)</b></span>

<div align='justify'>
    <p>Transactions group a set of tasks into a single execution unit. Each transaction begins with a specific task and ends when all the tasks in the group are successfully completed. If any of the tasks fail, the transaction fails.</p>
    <p>Therefore, a transaction has only two results: success or failure. You can explore more about transactions here. Hence, the following TCL commands are used to control the execution of a transaction: </p>
    <p><b style='color: #EC870E'>List of TCL Commands</b></p>
    <p>Some TCL commands and their syntax are:</p>
<table style='display: flex; justify-content: center'>
    <tr style='background-color: #EE7C6B; color: black'>
        <th style="text-align: center;"><span>Command</span></th>
        <th style="text-align: center;"><span>Description</span></th>
        <th style="text-align: center;"><span>Syntax</span></th>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><a href="https://www.geeksforgeeks.org/sql-transactions/" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>BEGIN TRANSACTION</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Starts a new transaction.</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>BEGIN TRANSACTION [transaction_name];</span></code></td>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><a href="https://www.geeksforgeeks.org/sql-transactions/" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>COMMIT</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Saves all changes made during the transaction.</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>COMMIT;</span></code></td>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><a href="https://www.geeksforgeeks.org/sql-transactions/" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>ROLLBACK</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Undoes all changes made during the transaction.</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>ROLLBACK;</span></code></td>
    </tr>
    <tr>
        <td style="background-color: #EE7C6B; color: black; text-align: center;"><a href="https://www.geeksforgeeks.org/sql-transactions/" rel="noreferrer noopener" target="_blank"><span><b style='color: black'>SAVEPOINT</b></span></a></td>
        <td style="background-color: #FCDAD5; color: black;"><span>Creates a savepoint within the current transaction.</span></td>
        <td style="background-color: #FCDAD5; color: black;"><code><span>SAVEPOINT savepoint_name;</span></code></td>
    </tr>
</table>
</div>

## <span style='color: #EE7C6B'><b>Important SQL Commands</b></span>

<div align='justify'>
    <p>Some of the most important SQL commands are:</p>

1. <b>SELECT</b>: Used to retrieve data from a database.
2. <b>INSERT</b>: Used to add new data to a database.
3. <b>UPDATE</b>: Used to modify existing data in a database.
4. <b>DELETE</b>: Used to remove data from a database.
5. <b>CREATE TABLE</b>: Used to create a new table in a database.
6. <b>ALTER TABLE</b>: Used to modify the structure of an existing table.
7. <b>DROP TABLE</b>: Used to delete an entire table from a database.
8. <b>WHERE</b>: Used to filter rows based on a specified condition.
9. <b>ORDER BY</b>: Used to sort the result set in ascending or descending order.
10. <b>JOIN</b>: Used to combine rows from two or more tables based on a related column between them.
</div>

## <span style='color: #EE7C6B'><b>SQL Commands With Examples</b></span>

<div align='justify'>
<table>
    <tr style='background-color: #EE7C6B; color: black'>
        <th style="text-align: center;"><span>SQL Command</span></th>
        <th style="text-align: center;"><span>Example</span></th>
    </tr>
    <tr>
        <th style="text-align: center; background-color: #EE7C6B; color: black"><span>SELECT</span></th>
        <td style="text-align: center; background-color: #FCDAD5; color: black;"><code><span>SELECT * FROM employees;</span></code><span> </span></td>
    </tr>
    <tr>
        <th style="text-align: center; background-color: #EE7C6B; color: black"><span>INSERT</span></th>
        <td style="text-align: center; background-color: #FCDAD5; color: black;"><code><span>INSERT INTO employees (first_name, last_name, email) VALUES ('John', 'Doe', 'john.doe@example.com');</span></code></td>
    </tr>
    <tr>
        <th style="text-align: center; background-color: #EE7C6B; color: black"><span>UPDATE</span></th>
        <td style="text-align: center; background-color: #FCDAD5; color: black;"><code><span>UPDATE employees SET email = 'jane.doe@example.com' WHERE first_name = 'Jane' AND last_name = 'Doe';</span></code></td>
    </tr>
    <tr>
        <th style="text-align: center; background-color: #EE7C6B; color: black"><span>DELETE</span></th>
        <td style="text-align: center; background-color: #FCDAD5; color: black;"><code><span>DELETE FROM employees WHERE employee_id = 123;</span></code></td>
    </tr>
    <tr>
        <th style="text-align: center; background-color: #EE7C6B; color: black"><span>CREATE TABLE</span></th>
        <td style="text-align: center; background-color: #FCDAD5; color: black;"><code><span>CREATE TABLE employees ( employee_id INT PRIMARY KEY, first_name VARCHAR(50), last_name VARCHAR(50));</span></code></td>
    </tr>
    <tr>
        <th style="text-align: center; background-color: #EE7C6B; color: black"><span>ALTER TABLE</span></th>
        <td style="text-align: center; background-color: #FCDAD5; color: black;"><code><span>ALTER TABLE employees ADD COLUMN phone VARCHAR(20);</span></code></td>
    </tr>
    <tr>
        <th style="text-align: center; background-color: #EE7C6B; color: black"><span>DROP TABLE</span></th>
        <td style="text-align: center; background-color: #FCDAD5; color: black;"><code><span>DROP TABLE employees;</span></code></td>
    </tr>
    <tr>
        <th style="text-align: center; background-color: #EE7C6B; color: black"><span>WHERE</span></th>
        <td style="text-align: center; background-color: #FCDAD5; color: black;"><code><span>SELECT * FROM employees WHERE department = 'Sales';</span></code></td>
    </tr>
    <tr>
        <th style="text-align: center; background-color: #EE7C6B; color: black"><span>ORDER BY</span></th>
        <td style="text-align: center; background-color: #FCDAD5; color: black;"><code><span>SELECT * FROM employees ORDER BY hire_date DESC;</span></code></td>
    </tr>
    <tr>
        <th style="text-align: center; background-color: #EE7C6B; color: black"><span>JOIN</span></th>
        <td style="text-align: center; background-color: #FCDAD5; color: black;"><code><span>SELECT e.first_name, e.last_name, d.department_name FROM employees e JOIN departments d ON e.department_id = d.department_id;</span></code></td>
    </tr>
</table>

<p>These are common examples of some important SQL commands. The examples provide better understanding of the SQL commands and teaches correct way to use them.</p>
</div>

## <span style='color: #EE7C6B'><b>Conclusion</b></span>

<div align='justify'>
    <p>SQL commands are the foundation of an effective database management system. Whether you are manipulating data, or managing data, SQL provides all sets of tools. Now, with this detailed guide, we hope you have gained a deep understanding of SQL commands, their categories, and syntax with examples.</p>
</div>