<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>WHERE CLAUSE</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p><strong>WHERE</strong> keyword is used for fetching <strong>filtered data</strong> in a result set. It is used to fetch data according to particular criteria. <strong>WHERE</strong> keyword can also be used to filter data by matching patterns.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> column1,column2 <span style='color: #BD6B09'>FROM</span> table_name <span style='color: #BD6B09'>WHERE</span> column_name operator value;</pre></strong></th></tr>
</table>

<p><strong>Parameter Explanation</strong></p>

<table style='border: solid white'>
    <tr>
        <td>
<span style='text-indent: 0.5cm'>+ <strong>   column1,column2</strong>: Fields in the table.</span><br>
<span style='text-indent: 0.5cm'>+ <strong>   table_name</strong>: Name of table.</span><br>
<span style='text-indent: 0.5cm'>+ <strong>   column_name</strong>: Name of field used for filtering the data.</span><br>
<span style='text-indent: 0.5cm'>+ <strong>   operator</strong>: Operation to be considered for filtering.</span><br>
<span style='text-indent: 0.5cm'>+ <strong>   value</strong>: Exact value or pattern to get related data in result.</span>
        </td>
    </tr>
</table>

## <span style='color: '><strong>List of Operators that Can be Used with WHERE Clause</strong></span>

<table>
    <tr align='center' style='background-color: #F0F0F0'>
        <th>Operator</th>
        <th>Description</th>
    </tr>
    <tr align='center'>
        <td>></td>
        <td>Greater Than</td>    
    </tr>
    <tr align='center'>
    <td>>=</td>
    <td>Greater than or Equal to</td>
    </tr>
    <tr align='center'>
        <td><</td>
        <td>Less Than</td>
    </tr>
    <tr align='center'>
        <td><=</td>
        <td>Less than or Equal to</td>
    </tr>
    <tr align='center'>
        <td>=</td>
        <td>Equal to</td>
    </tr>
    <tr align='center'>
        <td><></td>
        <td>Not Equal to</td>
    </tr>
    <tr align='center'>
        <td>BETWEEN</td>
        <td>In an inclusive Range</td>
    </tr>
    <tr align='center'>
        <td>LIKE</td>
        <td>Search for a pattern</td>
    </tr>
    <tr align='center'>
        <td>IN</td>
        <td>To specify multiple possible values for a column</td>
    </tr>
</table>

<p><strong>Query</strong></p>

C

### <span style='color: #BD6B09'><strong>Where Clause with Logical Operators</strong></span>

<p>To fetch records of  Employee with ages equal to 24.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> Emp1 <span style='color: #BD6B09'>WHERE</span> Age=24;</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230414162854/Screenshot-from-2023-04-14-16-27-47.png' style='border: solid black 5px'><small><i></i></small></div>

<p>To fetch the EmpID, Name and Country of Employees with Age greater than 21.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> EmpID, Name, Country <span style='color: #BD6B09'>FROM</span> Emp1 <span style='color: #BD6B09'>WHERE</span> Age > 21;</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230414163104/Screenshot-from-2023-04-14-16-30-54.png' style='border: solid black 5px'><small><i></i></small></div>

### <span style='color: #BD6B09'><strong>Where Clause with BETWEEN Operator</strong></span>

<p>It is used to fetch filtered data in a given range inclusive of two values.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> column1,column2 <span style='color: #BD6B09'>FROM</span> table_name 
<span style='color: #BD6B09'>WHERE</span> column_name <span style='color: #BD6B09'>BETWEEN</span> value1 AND value2;
</pre></strong></th></tr>
</table>

<p><strong>Parameter Explanation</strong></p>

<table style='border: solid white'>
    <tr>
        <td>
<span style='text-indent: 0.5cm'>+ <strong>BETWEEN</strong>: operator name.</span><br>
<span style='text-indent: 0.5cm'>+ <strong>value1 AND value2</strong>: exact value from value1 to value2 to get related data in result set.</span><br>
        </td>
    </tr>
</table>

<p>To fetch records of Employees where Age is between 22 and 24 (inclusive).</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> Emp1 <span style='color: #BD6B09'>WHERE</span> Age <span style='color: #BD6B09'>BETWEEN</span> 22 <span style='color: #BD6B09'>AND</span> 24;</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230414163419/Screenshot-from-2023-04-14-16-34-09.png' style='border: solid black 5px'><small><i></i></small></div>

### <span style='color: #BD6B09'><strong>Where Clause with LIKE Operator</strong></span>

<p>It is used to fetch filtered data by searching for a particular pattern in the where clause.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> column1,column2 <span style='color: #BD6B09'>FROM</span> table_name 
<span style='color: #BD6B09'>WHERE</span> column_name <span style='color: #BD6B09'>LIKE</span> pattern;</pre></strong></th></tr>
</table>

<p><strong>Parameter Explanation</strong></p>

<table style='border: solid white'>
    <tr>
        <td>
<span style='text-indent: 0.5cm'>+ <strong>LIKE</strong>: operator name.</span><br>
<span style='text-indent: 0.5cm'>+ <strong>pattern</strong>: exact value extracted from the pattern to get related data in the result set.</span><br>
        </td>
    </tr>
</table>

<p><strong>Note</strong>: The character(s) in the pattern is case-insensitive.</p>

<p>To fetch records of Employees where Name starts with the letter S.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> Emp1 <span style='color: #BD6B09'>WHERE</span> Name <span style='color: #BD6B09'>LIKE</span> 'S%'; </pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230414163919/Screenshot-from-2023-04-14-16-39-09.png' style='border: solid black 5px'><small><i></i></small></div>

### <span style='color: #BD6B09'><strong>Where Clause with IN Operator</strong></span>

<p>It is used to fetch the filtered data same as fetched by ‘=’ operator just the difference is that here we can specify multiple values for which we can get the result set.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> column1,column2 <span style='color: #BD6B09'>FROM</span> table_name <span style='color: #BD6B09'>WHERE</span> column_name <span style='color: #BD6B09'>IN</span> (value1,value2,..);</pre></strong></th></tr>
</table>

<p><strong>Parameter Explanation</strong></p>

<table style='border: solid white'>
    <tr>
        <td>
<span style='text-indent: 0.5cm'>+ <strong>IN</strong>: operator name </span><br>
<span style='text-indent: 0.5cm'>+ <strong>value1,value2,..</strong>: exact value matching the values given and get related data in the result set.</span><br>
        </td>
    </tr>
</table>

<p>To fetch the Names of Employees where Age is 21 or 23.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> Name <span style='color: #BD6B09'>FROM</span> Emp1 <span style='color: #BD6B09'>WHERE</span> Age <span style='color: #BD6B09'>IN</span> (21,23);</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230414164114/Screenshot-from-2023-04-14-16-41-00.png' style='border: solid black 5px'><small><i></i></small></div>