<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>DELETE VIEWS in SQL</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p>SQL allows us to delete an existing View. We can delete or drop View using the DROP statement.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>DROP VIEW</span> <span style='color: #000000'>view_name</span>;
      </strong>
    </td>
  </tr>
</table>

<p><strong>Example</strong></p>

<p>In this example, we are deleting the View <strong>MarksView</strong>.</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>DROP VIEW</span> <span style='color: #000000'>MarksView</span>;
      </strong>
    </td>
  </tr>
</table>