<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>HAVING CLAUSE</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p>The HAVING clause was introduced in SQL to allow the filtering of query results based on aggregate functions and groupings, which cannot be achieved using the WHERE clause that is used to filter individual rows.</p>

<p>In simpler terms MSSQL, the HAVING clause is used to apply a filter on the result of GROUP BY based on the specified condition. The conditions are Boolean type i.e. use of logical operators  (AND, OR). This clause was included in SQL as the WHERE keyword failed when we use it with aggregate expressions. Having is a very generally used clause in SQL. Similar to WHERE it helps to apply conditions, but HAVING works with groups. If you wish to filter a group, the HAVING clause comes into action.</p>

<p><strong>Some important points</strong></p>

<table style='border: solid white'>
    <tr>
        <td>
<span style='text-indent: 0.5cm'>+ Having clause is used to filter data according to the conditions provided.</span><br>
<span style='text-indent: 0.5cm'>+ Having a clause is generally used in reports of large data.</span><br>  
<span style='text-indent: 0.5cm'>+ Having clause is only used with the SELECT clause.</span><br>
<span style='text-indent: 0.5cm'>+ The expression in the syntax can only have constants.</span><br>
<span style='text-indent: 0.5cm'>+ In the query, ORDER BY  is to be placed after the HAVING clause, if any.</span><br>
<span style='text-indent: 0.5cm'>+ HAVING Clause is implemented in column operation.</span><br>
<span style='text-indent: 0.5cm'>+ Having clause is generally used after GROUP BY.</span>
        </td>
    </tr>
</table>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> col_1, function_name(col_2)
<span style='color: #BD6B09'>FROM</span> tablename
<span style='color: #BD6B09'>WHERE</span> condition
<span style='color: #BD6B09'>GROUP BY</span> column1, column2
<span style='color: #BD6B09'>HAVING</span> Condition
<span style='color: #BD6B09'>ORDER BY</span> column1, column2;</pre></strong></th></tr>
</table>

<p>Here, the function_name is the name of the function used, for example, SUM(), and AVG().</p>

### <span style='color: #BD6B09'><strong>Example 1</strong></span>

<p>Here first we create a database name as “Company”, then we will create a table named “Employee” in the database. After creating a table we will execute the query.</p>

<p><strong>Step 1: Creating a database</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>CREATE DATABASE</span> Company;</pre></strong></th></tr>
</table>

<p><strong>Step 2: To use this database</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>USE</span> Company;</pre></strong></th></tr>
</table>

<p><strong>Step 3: Creating a table</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>CREATE TABLE</span> Employee (
  EmployeeId int,
  Name varchar(20),
  Gender varchar(20),
  Salary int,
  Department varchar(20),
  Experience varchar(20)
);</pre></strong></th></tr>
</table>

<p><strong>Step 4: Add value to the table</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>INSERT INTO</span> Employee (EmployeeId, Name, Gender, Salary, Department, Experience)
<span style='color: #BD6B09'>VALUES</span> (5, 'Priya Sharma', 'Female', 45000, 'IT', '2 years');
<span style='color: #BD6B09'>INSERT INTO</span> Employee (EmployeeId, Name, Gender, Salary, Department, Experience)
<span style='color: #BD6B09'>VALUES</span> (6, 'Rahul Patel', 'Male', 65000, 'Sales', '5 years');
<span style='color: #BD6B09'>INSERT INTO</span> Employee (EmployeeId, Name, Gender, Salary, Department, Experience)
<span style='color: #BD6B09'>VALUES</span> (7, 'Nisha Gupta', 'Female', 55000, 'Marketing', '4 years');
<span style='color: #BD6B09'>INSERT INTO</span> Employee (EmployeeId, Name, Gender, Salary, Department, Experience)
<span style='color: #BD6B09'>VALUES</span> (8, 'Vikram Singh', 'Male', 75000, 'Finance', '7 years');
<span style='color: #BD6B09'>INSERT INTO</span> Employee (EmployeeId, Name, Gender, Salary, Department, Experience)
<span style='color: #BD6B09'>VALUES</span> (9, 'Aarti Desai', 'Female', 50000, 'IT', '3 years');</pre></strong></th></tr>
</table>

<p><strong>The final table is:</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230414151438/Screenshot_66.png' style='border: solid black 5px'><small><i></i></small></div>

<p><strong>Step 5: Execute the query</strong></p>

<p>This employee table will help us understand the HAVING Clause. It contains employee IDs, Name, Gender, department, and salary. To Know the sum of salaries, we will write the query.</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> Department, sum(Salary) <span style='color: #BD6B09'>AS</span> Salary
<span style='color: #BD6B09'>FROM</span> employee
<span style='color: #BD6B09'>GROUP BY</span> department;</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230414151631/Screenshot_67.png' style='border: solid black 5px'><small><i></i></small></div>

<p>Now if we need to display the departments where the sum of salaries is 50,000 or more. In this condition, we will use the HAVING Clause.</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> Department, sum(Salary) <span style='color: #BD6B09'>AS</span> Salary
<span style='color: #BD6B09'>FROM</span> employee
<span style='color: #BD6B09'>GROUP BY</span> department
<span style='color: #BD6B09'>HAVING SUM</span(Salary) >= 50000;</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230414151714/Screenshot_68.png' style='border: solid black 5px'><small><i></i></small></div>

### <span style='color: #BD6B09'><strong>Example 2</strong></span>

<p>Suppose, a teacher wants to announce the toppers in class. For this, she decides to reward every student who scored more than 95%. We need to group the database by name and their percentage and find out who scored more than 95% in that year. So for this first, we create a database name “School”, and then we will create a table named “Student” in the database. After creating a table we will execute the query.</p>

<p><strong>Step 1: Creating a database</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>CREATE DATABASE</span> School;</pre></strong></th></tr>
</table>

<p><strong>Step 2: To use this database</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>USE</span> School;</pre></strong></th></tr>
</table>

<p><strong>Step 3: Creating a table</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>CREATE TABLE</span> Student(
   student Varchar(20),
   percentage int
);</pre></strong></th></tr>
</table>

<p><strong>Step 4: Add value to the table</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>INSERT INTO</span> Student <span style='color: #BD6B09'>VALUES</span> ('Isha Patel', 98)
<span style='color: #BD6B09'>INSERT INTO</span> Student <span style='color: #BD6B09'>VALUES</span> ('Harsh Das', 94)
<span style='color: #BD6B09'>INSERT INTO</span> Student <span style='color: #BD6B09'>VALUES</span> ('Rachit Sha', 93)
<span style='color: #BD6B09'>INSERT INTO</span> Student <span style='color: #BD6B09'>VALUES</span> ('Sumedha', 98)
<span style='color: #BD6B09'>NSERT INTO</span> Student <span style='color: #BD6B09'>VALUES</span> ('Rahat Ali', 98)</pre></strong></th></tr>
</table>

<p><strong>The final table is:</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210805152512/table.jpg' style='border: solid black 5px'><small><i></i></small></div>

<p><strong>Step 5: Execute the query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> student, percentage
<span style='color: #BD6B09'>FROM</span> Student
<span style='color: #BD6B09'>GROUP BY</span> student, percentage
<span style='color: #BD6B09'>HAVING</span> percentage > 95;</pre></strong></th></tr>
</table>

<p>Here, three students named Isha, Sumedha, and Rahat Ali scored more than 95%.</p>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210805152511/grouptable.jpg' style='border: solid black 5px'><small><i></i></small></div>

<p>Further, we can also filter rows on multiple values using the HAVING clause. The HAVING clause also permits filtering rows using more than one aggregate condition.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> student  
<span style='color: #BD6B09'>FROM</span> Student
<span style='color: #BD6B09'>WHERE</span> percentage > 90
<span style='color: #BD6B09'>GROUP BY</span> student, percentage
<span style='color: #BD6B09'>HAVING SUM</span>(percentage) < 1000 <span style='color: #BD6B09'>AND AVG</span>(percentage) > 95;
</pre></strong></th></tr>
</table>

<p>This query returns the students who have more percentage than 95 and the sum of percentage is less than 1000.</p>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210805152510/finaltable.jpg' style='border: solid black 5px'><small><i></i></small></div>

## <span style='color:'><strong>SQL Having vs WHERE</strong></span>

<table align='center'>
  <tr align='center' style='background-color: #F0F0F0'>
    <th>Having</th>	
    <th>Where</th>
  </tr>
  <tr align='center'>
    <td>In the HAVING clause it will check the condition in group of a row.</td>
    <td>In the WHERE condition it will check or execute at each row individual.</td>
  </tr>
  <tr align='center'>
    <td>HAVING clause can only be used with aggregate function.</td>
    <td>The WHERE Clause cannot be used with aggregate function like Having.</td>
  </tr>
  <tr align='center'>
    <td>Priority Wise HAVING Clause is executed after Group By.</td>
    <td>Priority Wise WHERE is executed before  Group By.</td>
  </tr>
</table>