<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>Comments</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p><strong>SQL Comments</strong> explain sections of SQL statements or prevent SQL statements from being executed.</p>

<p>There are <strong>3 types of comments</strong> in SQL:</p>

1. Single-line comments
2. Multi-line comments
3. In-line comments

<p>These are the three commenting methods in SQL, each with its unique use. Let’s discuss these SQL comments in detail below:</p>

#### <span style='color: #A0522D'><strong>SQL Single Line Comments</strong></span>

<p><strong>SQL Single Line Comments</strong> contain a single line a comment. They start and end in a single line.</p>

<p>Single Line comments in SQL can be inserted using ‘–‘ before the line. </p>

<p><strong>Syntax</strong></p>

<p>Syntax to insert single line comment in SQL is:</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>--</span> <span style='color: #000000'>This is a single line comment</span>
      </strong>
    </td>
  </tr>
</table>

#### <span style='color: #A0522D'><strong>SQL Single Line Comments</strong></span>

<p>In this example, we use a single line comment to explain a query in SQL.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>--</span> <span style='color: #000000'>query to fetch customers records.</span>
        <br>
        <span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> <span style='color: #000000'>customers</span>;
      </strong>
    </td>
  </tr>
</table>

#### <span style='color: #A0522D'><strong>SQL Multi-Line Comments</strong></span>

<p><strong>SQL Multi-line comments</strong> contain multiple lines in a single comment. They start from one line and ends in a different line.</p>

<p>A multi-line comment starts with ‘/*’ and is terminated when ‘*/’ is encountered.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>/*</span> <span style='color: #000000'>multi line comment</span>
        <br><span style='color: #BD6B09'>another comment</span> <span style='color: #BD6B09'>*/</span>
        <br><br>
        <span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> <span style='color: #000000'>customers</span>;
      </strong>
    </td>
  </tr>
</table>

<p>The syntax to insert a multi-line comment in SQL is:</p>

#### <span style='color: #A0522D'><strong>Multi-Line Comments Example</strong></span>

<p>In this example, we will use the Multi-line comment to explain a complex query.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>/*.</span>
        <br><span style='color: #000000'>The query selects all the orders from the orders</span>
        <br><span style='color: #000000'>table that were placed in the year 2022.</span>
        <br><span style='color: #BD6B09'>*/</span>
        <br><br>
        <span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> <span style='color: #000000'>orders</span> 
        <span style='color: #BD6B09'>WHERE</span> <span style='color: #BD6B09'>YEAR</span>(<span style='color: #000000'>order_date</span>) = <span style='color: #008000'>2022</span>;
      </strong>
    </td>
  </tr>
</table>

#### <span style='color: #A0522D'><strong>SQL In-Line Comments</strong></span>

<p><strong>SQL In-line comments</strong> are an extension of multi-line comments, these comments are used in between of a SQL statement.</p>

<p>An In-Line comment starts with ‘/*’ and end with ‘*/’.</p>

<p><strong>Syntax</strong></p>

<p>The syntax to use In-Line Comments in SQL is:</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> 
        <span style='color: #000000'>/*</span> 
        <span style='color: #008000'>Customers;</span> 
        <span style='color: #000000'>*/</span>
      </strong>
    </td>
  </tr>
</table>

#### <span style='color: #A0522D'><strong>SQL In-Line Comments Example</strong></span>

<p>In this example, we are using In-Line comments in SQL to explain information about table.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> customer_name, 
        <br><span style='color: #BD6B09'>/*</span> 
        <span style='color: #000000'> This column contains the name of the customer </span> 
        <br><span style='color: #BD6B09'>*/</span> 
        <br>order_date 
        <br><span style='color: #BD6B09'>/*</span> 
        <span style='color: #000000'> This column contains the date the order was placed </span> 
        <br><span style='color: #BD6B09'>*/</span> 
        <br><span style='color: #BD6B09'>FROM</span> orders;
      </strong>
    </td>
  </tr>
</table>

#### <span style='color: #A0522D'><strong>Important Points About SQL Comments</strong></span>

<table style='background-color: #FCD9C4'>
  <tr>
    <td style='border: solid white'>
      <li><strong>SQL comments are annotations in the code that are not executed by the SQL engine</strong> − They serve as notes or explanations for human readers to understand the code better.</li>
      <li><strong>There are 3 types of comments in SQL</strong> − Single Line comments, Multi-Line comments, and In-line comments.</li>
      <li><strong>Proper use of comments in SQL can make scripts easier to understand, maintain, and debug</strong> − Comments facilitate quicker reviews and onboarding of new team members.</li>
      <li><strong>SQL comments are not supported in Microsoft Access databases</strong> − Comments may not be utilized in Microsoft Access SQL queries.</li>
      <li><strong>Some databases, like Oracle, provide additional features for commenting</strong> − For example, Oracle offers the COMMENT ON statement to attach explanatory text to database objects.</li>
    </td>
  </tr>
</table>