<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>UPPER() Function</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p>The <strong>SQL UPPER() function</strong> is a string function that converts all the strings in the table to <strong>uppercase</strong>.</p>

## <span><b>UPPER() Function in SQL</b></span>

<p>The <strong>UPPER function in SQL</strong> is an in-built function that changes lowercase characters or strings to capital cases. Certain characters like <Strong>integers</strong> (0-9) or <strong>special characters</strong> like ("@”, "-” "/”, "&” etc.) remain unchanged in the result.

<p>It is used to display the output in <strong>CAPITAL CASE</strong> and is supported by all major SQL-based DBMSs.</p>

<table style='background-color: #F0F0F0'>
<td style='border: solid white'>Note: <strong>UPPER</strong> and <strong>UCASE</strong> functions perform the same operation on strings. In older versions of SQL, some databases (like Db2 DBMS)used the UCASE function, while others used the UPPER function. Now both the functions are supported by all major databases.</td>
</table>

<p>The UPPER function is supported in SQL Server (starting with 2008), Azure SQL Database, Azure SQL Data Warehouse, Parallel Data Warehouse, MySQL 4.0, Oracle, DB2, and all other major Database systems.</p>

<p><strong>Syntax</strong></p>

<p>SQL UPPER function syntax is:</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>UPPER</span>(<span style='color: #000000'>input_text</span>)
      </strong>
    </td>
  </tr>
</table>

<p>Or</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>UPPER</span>(<span style='color: #BD6B09'>column_name</span>)
      </strong>
    </td>
  </tr>
</table>

## <span><b>SQL UPPER() Function Examples</b></span>

<p>Let’s look at the examples of UPPER() function in SQL. Check the <strong>SQL UPPER function with examples</strong> to understand it better.</p>

<p>First, let’s create a demo database and table on which we will use the UPPER function.</p>

### <span style='color: #BD6B09'><strong>Demo SQL Database</strong></span>

<p>We will be using the following table in the examples:</p>

<table align='center'>
    <tr align='center' style='background-color: #F0F0F0'>
        <th>ID</th>
        <th>NAME</th>
    </tr>
    <tr align='center'>
        <td>12@tEsla</td>
        <td>Elon</td>
    </tr>
    <tr align='center'>
        <td>x</td>
        <td>Musk</td>
    </tr>
    <tr align='center'>
        <td>Microsoft</td>
        <td>Bill</td>
    </tr>
</table>

<p>To create this table in your system, write the following queries:</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>CREATE TABLE</span> <span style='color: #000000'>GFG_UPPER_DEMO</span>(
        <br>&nbsp;&nbsp;&nbsp;&nbsp;<span>Id</span> <span style='color: #BD6B09'>Varchar</span>(<span style='color: #000000'>20</span>),
        <br>&nbsp;&nbsp;&nbsp;&nbsp;<span style='color: #000000'>Name</span> <span style='color: #BD6B09'>varchar</span>(<span style='color: #000000'>20</span>)
        <br>);
        <br><span style='color: #BD6B09'>INSERT INTO</span> <span style='color: #000000'>GFG_UPPER_DEMO</span> 
        <br><span style='color: #BD6B09'>VALUES</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;(<span style='color: #000000'>"12@tEsla"</span>, <span style='color: #000000'>"Elon"</span>),
        <br>&nbsp;&nbsp;&nbsp;&nbsp;(<span style='color: #000000'>"x"</span>, <span style='color: #000000'>"Musk"</span>),
        <br>&nbsp;&nbsp;&nbsp;&nbsp;(<span style='color: #000000'>"Microsoft"</span>, <span style='color: #000000'>"Bill"</span>);
      </strong>
    </td>
  </tr>
</table>

### <span style='color: #BD6B09'><strong>Convert Character Literal to Uppercase Using SQL Upper Function</strong></span>

<p>In this example, we are printing the x value as it is in first column, and in the second column we are printing the ID value after applying the UPPER function, and the UPPER function converted "x” into "X”.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #000000'>"x"</span> <span style='color: #BD6B09'>AS</span> <span style='color: #000000'>"BEFORE UPPER() Function"</span>,  
        <span style='color: #BD6B09'>UPPER</span>(<span style='color: #000000'>"x"</span>) <span style='color: #BD6B09'>AS</span> <span style='color: #000000'>"AFTER UPPER() Function"</span>;
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20231227150124/Converting-Character-Literal-to-Capital-Case-Using-UPPER()-function.png' style='border: solid black 5px'><br><small><i>Converting Character Literal to Capital Case Using UPPER() function.</i></small></div>

### <span style='color: #BD6B09'><strong>Convert string to Uppercase using SQL UPPER Function</strong></span>

<p>In this example, in the first column, we are printing the "<strong>Microsoft</strong>" word as it is, and in the second column we are printing the "Microsoft" value after applying the UPPER() function, and the UPPER function converted "Microsoft" into "<strong>MICROSOFT</strong>".</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #000000'>"Microsoft"</span> <span style='color: #BD6B09'>AS</span> <span style='color: #000000'>"BEFORE UPPER() Function"</span>,  
        <span style='color: #BD6B09'>UPPER</span>(<span style='color: #000000'>"Microsoft"</span>) <span style='color: #BD6B09'>AS</span> <span style='color: #000000'>"AFTER UPPER() Function"</span>;
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20231227150309/Converting-Character-Literal-to-Capital-Case-Using-UPPER()-function.png' style='border: solid black 5px'><br><small><i>Converting Character Literal to Capital Case Using UPPER() function.</i></small></div>

### <span style='color: #BD6B09'><strong>Using UPPER Function on String Consisting of Special Characters, Integers, and Alphabets</strong></span>

<p>In this example, in the first column, we are printing the ID value as it is, and in the second column we are printing the ID value after applying the UPPER function, and "<strong>12@tEsla</strong>" is converted to "<strong>12@TESLA</strong>". The special characters and Numerical characters remained the same, only the alphabets are converted into capital case.</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #000000'>"12@tEsla"</span> <span style='color: #BD6B09'>AS</span> <span style='color: #000000'>"BEFORE UPPER() Function"</span>,  
        <span style='color: #BD6B09'>UPPER</span>(<span style='color: #000000'>"12@tEsla"</span>) <span style='color: #BD6B09'>AS</span> <span style='color: #000000'>"AFTER UPPER() Function"</span>;
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20231227150508/Converting-a-String-with-Numerical-characters-and-Special-Characters-into-Capital-Case-using-UPPER()-function.png' style='border: solid black 5px'><br><small><i>Converting a String with Numerical characters and Special Characters into Capital Case using UPPER() function.</i></small></div>

### <span style='color: #BD6B09'><strong>Using SQL UPPER function on a Column</strong></span>

<p>In this example, we passed a column name ID as an argument to the UPPER() function. It converts all the values present in the ID column and outputs. In the first column, we can see the ID values before using the UPPER() function. In the second column, We can see all the alphabetic characters get converted into Capital Cases. Integer and special characters remain as it is. As we can see, "<strong>x</strong>", "<strong>Microsoft</strong>", and "<strong>12@tEsla</strong>” are converted into "<strong>X</strong>", "<strong>MICROSOFT</strong>", and "<strong>12@TESLA</strong>” respectively.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #000000'>ID</span> <span style='color: #BD6B09'>AS</span> <span style='color: #000000'>"BEFORE UPPER() Function"</span>,  
        <span style='color: #BD6B09'>UPPER</span>(<span style='color: #000000'>ID</span>) <span style='color: #BD6B09'>AS</span> <span style='color: #000000'>"AFTER UPPER() Function"</span>  
        <span style='color: #BD6B09'>FROM</span> <span style='color: #000000'>GFG_UPPER_DEMO</span>;
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20231227150536/Passing-a-column-name-to-the-UPPER()-function-and-Converting-it-to-Capital-Case.png' style='border: solid black 5px'><br><small><i>Passing a column name to the UPPER() function and Converting it to Capital Case.</i></small></div>

## <span><b>Important Points About SQL UPPER() Function</b></span>

<li style='text-indent: 1cm'><strong>UPPER()</strong> function in SQL allows us to convert the string text into uppercase.</li>
<li style='text-indent: 1cm'>It takes only one parameter and converts the entire string into upper case.</li>
<li style='text-indent: 1cm'>It is similar to the <strong>UCASE()</strong> function.</li>
<li style='text-indent: 1cm'>Special Characters like “@”, “%”, “+” etc. and numerical characters remain unchanged, only the lowercase alphabetical letters get transformed into uppercase.</li>