<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>INTERSECT OPERATOR</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p>The INTERSECT clause in SQL is used to combine two SELECT statements but the dataset returned by the INTERSECT statement will be the intersection of the data sets of the two SELECT statements. In simple words, the INTERSECT statement will return only those rows which will be common to both of the SELECT statements.</p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/1-70.png' style='border: solid black 5px'><br><small><i></i></small></div>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> column1 , column2 …
<span style='color: #BD6B09'>FROM</span> table_names
<span style='color: #BD6B09'>WHERE</span> condition
<span style='color: #BD6B09'>INTERSECT</span>
<span style='color: #BD6B09'>SELECT</span> column1 , column2 ….
<span style='color: #BD6B09'>FROM</span> table_names
<span style='color: #BD6B09'>WHERE</span> condition</pre></strong></th></tr>
</table>

<p>Let’s assume that we have two table Customer Table and the Orders Table and we will perform some operations related to INTERSECT to understand better SQL intersect.</p>

### <span style='color: #BD6B09'><strong>Customers Table</strong></span>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>CREATE TABLE</span> Customer 
(
    CustomerID INT <span style='color: #BD6B09'>PRIMARY KEY</span>,
    FirstName VARCHAR(50) <span style='color: #BD6B09'>NOT NULL</span>,
    LastName VARCHAR(50) <span style='color: #BD6B09'>NOT NULL</span>,
    Email VARCHAR(100) <span style='color: #BD6B09'>UNIQUE NOT NULL</span>,
    Phone VARCHAR(20) <span style='color: #BD6B09'>NOT NULL</span>,
    Address VARCHAR(200) <span style='color: #BD6B09'>NOT NULL</span>,
    City VARCHAR(50) <span style='color: #BD6B09'>NOT NULL</span>,
    State VARCHAR(50) <span style='color: #BD6B09'>NOT NULL</span>,
    ZipCode VARCHAR(10) <span style='color: #BD6B09'>NOT NULL</span>
);</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230512111339/Screenshot_109.png' style='border: solid black 5px'><br><small><i></i></small></div>

### <span style='color: #BD6B09'><strong>Orders Table</strong></span>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>CREATE TABLE</span> Orderss 
(
    OrderID INT <span style='color: #BD6B09'>PRIMARY KEY</span>,
    CustomerID INT <span style='color: #BD6B09'>NOT NULL</span>,
    OrderDate DATE <span style='color: #BD6B09'>NOT NULL</span>,
    ShipDate DATE,
    TotalAmount DECIMAL(10,2) <span style='color: #BD6B09'>NOT NULL</span>,
    <span style='color: #BD6B09'>FOREIGN KEY</span> (CustomerID) <span style='color: #BD6B09'>REFERENCES</span> Customer(CustomerID)
);</pre></strong></th></tr>
</table>

<p>Let’s insert some random data in the order table.</p>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230512111642/Screenshot_110.png' style='border: solid black 5px'><br><small><i></i></small></div>

### <span style='color: #BD6B09'><strong>Sample Queries</strong></span>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> Customer.CustomerID, Customer.FirstName, Customer.LastName
<span style='color: #BD6B09'>FROM</span> Customer
<span style='color: #BD6B09'>LEFT JOIN</span> Orderss <span style='color: #BD6B09'>ON</span> Customer.CustomerID = Orderss.CustomerID
<span style='color: #BD6B09'>UNION</span>
<span style='color: #BD6B09'>SELECT</span> Customer.CustomerID, Customer.FirstName, Customer.LastName
<span style='color: #BD6B09'>FROM</span> Customer
<span style='color: #BD6B09'>LEFT JOIN</span> Orderss <span style='color: #BD6B09'>ON</span> Customer.CustomerID = Orderss.CustomerID
<span style='color: #BD6B09'>WHERE</span> Orderss.OrderID <span style='color: #BD6B09'>IS NULL</span>;</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230512112103/Screenshot_111.png' style='border: solid black 5px'><br><small><i></i></small></div>

## <span style='color: '><strong>INTERSECT with BETWEEN Operator</strong></span>

<p>As we have already discussed in the initial syntax, we can also use the INTERSECT operator along with some conditional operators. We can use the INTERSECT operator with the BETWEEN operator in SQL to find rows that fall within a specified range.</p>

<p>Let’s assume that we have one table name Customer and another one as orderss.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> CustomerID, FirstName, LastName
<span style='color: #BD6B09'>FROM</span> Customer
<span style='color: #BD6B09'>WHERE</span> CustomerID <span style='color: #BD6B09'>BETWEEN</span> 100 <span style='color: #BD6B09'>AND</span> 200
<span style='color: #BD6B09'>INTERSECT</span>
<span style='color: #BD6B09'>SELECT</span> CustomerID, FirstName, LastName
<span style='color: #BD6B09'>FROM</span> Customer
<span style='color: #BD6B09'>WHERE</span> LastName <span style='color: #BD6B09'>BETWEEN</span> 'A' <span style='color: #BD6B09'>AND</span> 'M';</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230427124253/Screenshot_38.png' style='border: solid black 5px'><br><small><i></i></small></div>

## <span style='color: '><strong>INTERSECT With LIKE Operator</strong></span>

<p>To match patterns in a string, use the LIKE operator. In SQL, the INTERSECT operator and the LIKE operator can also be used to find common rows that match a given pattern.</p>

<p><strong>Example</strong>: Let’s use the LIKE operator and the wildcard ‘%’ to retrieve names that begin with the letter ‘v’ from the common names of both tables.</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> John
<span style='color: #BD6B09'>FROM</span> Customer 
<span style='color: #BD6B09'>WHERE</span> common_name LIKE</span> 'v%'
<span style='color: #BD6B09'>INTERSECT</span>
<span style='color: #BD6B09'>SELECT</span> Bob
<span style='color: #BD6B09'>FROM</span> orderss
<span style='color: #BD6B09'>WHERE</span> common_name LIKE</span> 'v%';</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<table style='border: solid white'>
    <tr style='background-color: #F0F0F0'>
        <td>No output</td>
    </tr>
</table>