<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>SELF JOIN</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p>Joins in SQL, a self join is a regular join that is used to join a table with itself. It basically allows us to combine the rows from the same table based on some specific conditions. It is very useful and easy to work with, and it allows us to retrieve data or information which involves comparing records within the same table.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr>
  <th style='background-color: #F0F0F0'>
    <strong>
      <pre>
<span style='color: #BD6B09'>SELECT</span> columns
<span style='color: #BD6B09'>FROM</span> table <span style='color: #BD6B09'>AS</span> alias1
<span style='color: #BD6B09'>JOIN</span> table <span style='color: #BD6B09'>AS</span> alias2
<span style='color: #BD6B09'>ON</span> alias1.column = alias2.column;
</pre>
    </strong>
  </th>
</tr>
</table>

<p><strong>Explnation</strong></p>

<li style='text-indent: 1cm'>SELECT columns: With the help of this we specify the columns you want to retrieve from the self-joined table.</li>
<li style='text-indent: 1cm'>FROM table AS alias1: With the help of this we specify the name of the table you want to join with itself.</li>
<li style='text-indent: 1cm'>JOIN table AS alias2: In this we use the JOIN keyword to show that we are performing a self join on the same table.</li>

<p><strong>Example</strong></p>

<p>Let’s use an illustration to further understand how the self-join functions. Assume that we have a table called “GFGemployees” with the columns employee_id, employee_name, and manager_id. Each employee in the company is assigned a manager, and using the manager-ids, we can identify each employee. We need to extract the list of employees along with the names of their managers because the manager_id column contains the manager ID for each employee.</p>

<p><strong style='color: #BD6B09'>Step 1</strong> First, we need to create the “GFGemployees” table with following query.</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr>
  <th style='background-color: #F0F0F0'>
    <strong>
      <pre>
<span style='color: #BD6B09'>CREATE TABLE</span> GFGemployees(employee_id INT <span style='color: #BD6B09'>PRIMAR KEY</span>, employee_name VARCHAR(50), manager_id INT);
</pre>
    </strong>
  </th>
</tr>
</table>

<p><strong style='color: #BD6B09'>Step 2</strong> Now we will add data into the ‘GFGemployees’ table using INSERT INTO statement:</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>INSERT INTO</span> GFGemployees (employee_id, employee_name, manager_id)
<span style='color: #BD6B09'>VALUES</span> 
(1, 'Zaid', 3), 
(2, 'Rahul', 3), 
(3, 'Raman', 4),  
(4, 'Kamran', <span style='color: #BD6B09'>NULL</span>)</span>,  
(5, 'Farhan', 4);
        </pre>
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong></p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>employee_id</th>
        <th>employee_name</th>
        <th>manager_id</th>
    </tr>
    <tr align="center">
        <td>1</td>
        <td>Zaid</td>
        <td>3</td>
    </tr>
    <tr align="center">
        <td>2</td>
        <td>Rahul</td>
        <td>3</td>
    </tr>
    <tr align="center">
        <td>3</td>
        <td>Raman</td>
        <td>4</td>
    </tr>
    <tr align="center">
        <td>4</td>
        <td>Kamran</td>
        <td></td>
    </tr>
    <tr align="center">
        <td>5</td>
        <td>Farhan</td>
        <td>4</td>
    </tr>
</table>

<p><strong style='color: #BD6B09'>Step 3</strong> Explanation and implementation of Self Join</p>

<p>Now, we need to perform self join on the table we created i.e.”GFGemployees” in order to retrieve the list of employees and their corresponding managers name and for that we need to write a query, where we will create two different aliases for the “GFGemployees” table as “e” which will represent the GFG employee’s information and “m” will represent the manager’s information. This way by joining the table with itself using the manager_id and employee_id columns, we can generate relationship between employees and their managers.</p>

<p><strong style='color: #BD6B09'>Step 4</strong> Query for Self-join</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> e.employee_name <span style='color: #BD6B09'>AS</span> employee,
m.employee_name <span style='color: #BD6B09'>AS</span> manager
<span style='color: #BD6B09'>FROM</span> 
GFGemployees <span style='color: #BD6B09'>AS</span> e 
<span style='color: #BD6B09'>JOIN</span> GFGemployees 
<span style='color: #BD6B09'>AS</span> m 
<span style='color: #BD6B09'>ON</span> e.manager_id = m.employee_id;
        </pre>
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong></p>

<p>The resultant table after performing self join will be as follows:</p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>employee</th>
        <th>manager</th>
    </tr>
    <tr align="center">
        <td>Zaid</td>
        <td>Raman</td>
    </tr>
    <tr align="center">
        <td>Rahul</td>
        <td>Raman</td>
    </tr>
    <tr align="center">
        <td>Raman</td>
        <td>Kamran</td>
    </tr>
    <tr align="center">
        <td>Farhan</td>
        <td>Kamran</td>
    </tr>
</table>